body {
    background-image: url('../img/registration.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 80%;
}

.head {
    color: darkgrey;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-top: 7%;
}

.submit {
    align-items: center;
}

/* .row .col.s12 {
    margin-top: 25%;
} */