{% extends 'welcomeBase.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/welcome.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="container">
    <div class="main">
        <a class="waves-effect waves-light btn-large" href="{{ path('login') }}">Login</a>
        <a class="waves-effect waves-light btn-large" href="{{ path('registration') }}">Register</a>
    </div>
</div>
<div class="container">
    <div class="welcomeMsg">
        Welcome on Yao
    </div>
</div>
{% endblock %}